aside.logo{
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    /*Esquerda e direita*/
    padding: 0px 15px;
    width: 100%;

}